*{
  margin: 0;
  padding: 0;
}

:root {
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: 40px;
  background-color: rgb(17, 17, 77);
  color: white;
}

h2,h3, h3, h4, h5, h6 {
  font-size: 35px;
}

p{
  font-size: 20px;
}
label {
  padding: 8px;
}

input {
  padding: 8px;
} 

.card-body {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: rgb(231, 231, 190);
}

.btn {
  width: 100%;
}